ex2/l4_ex2_formApp/l4_ex2_formApp/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convFtoC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convFtoCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="convFtoCResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCurrentDateAndTime">
        <s:complexType />
      </s:element>
      <s:element name="getCurrentDateAndTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCurrentDateAndTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getList">
        <s:complexType />
      </s:element>
      <s:element name="getListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="convertRonToE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ron" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertRonToEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="convertRonToEResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="convFtoCSoapIn">
    <wsdl:part name="parameters" element="tns:convFtoC" />
  </wsdl:message>
  <wsdl:message name="convFtoCSoapOut">
    <wsdl:part name="parameters" element="tns:convFtoCResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrentDateAndTimeSoapIn">
    <wsdl:part name="parameters" element="tns:getCurrentDateAndTime" />
  </wsdl:message>
  <wsdl:message name="getCurrentDateAndTimeSoapOut">
    <wsdl:part name="parameters" element="tns:getCurrentDateAndTimeResponse" />
  </wsdl:message>
  <wsdl:message name="getListSoapIn">
    <wsdl:part name="parameters" element="tns:getList" />
  </wsdl:message>
  <wsdl:message name="getListSoapOut">
    <wsdl:part name="parameters" element="tns:getListResponse" />
  </wsdl:message>
  <wsdl:message name="convertRonToESoapIn">
    <wsdl:part name="parameters" element="tns:convertRonToE" />
  </wsdl:message>
  <wsdl:message name="convertRonToESoapOut">
    <wsdl:part name="parameters" element="tns:convertRonToEResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convFtoC">
      <wsdl:input message="tns:convFtoCSoapIn" />
      <wsdl:output message="tns:convFtoCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCurrentDateAndTime">
      <wsdl:input message="tns:getCurrentDateAndTimeSoapIn" />
      <wsdl:output message="tns:getCurrentDateAndTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getList">
      <wsdl:input message="tns:getListSoapIn" />
      <wsdl:output message="tns:getListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertRonToE">
      <wsdl:input message="tns:convertRonToESoapIn" />
      <wsdl:output message="tns:convertRonToESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convFtoC">
      <soap:operation soapAction="http://tempuri.org/convFtoC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentDateAndTime">
      <soap:operation soapAction="http://tempuri.org/getCurrentDateAndTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap:operation soapAction="http://tempuri.org/getList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertRonToE">
      <soap:operation soapAction="http://tempuri.org/convertRonToE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convFtoC">
      <soap12:operation soapAction="http://tempuri.org/convFtoC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentDateAndTime">
      <soap12:operation soapAction="http://tempuri.org/getCurrentDateAndTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap12:operation soapAction="http://tempuri.org/getList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertRonToE">
      <soap12:operation soapAction="http://tempuri.org/convertRonToE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:53756/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:53756/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>