tema2 formApp/WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAll">
        <s:complexType />
      </s:element>
      <s:element name="getAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertNr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nrToInsert" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertNrResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateNr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idToUpdate" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateNrResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllSoapIn">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="getAllSoapOut">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="insertNrSoapIn">
    <wsdl:part name="parameters" element="tns:insertNr" />
  </wsdl:message>
  <wsdl:message name="insertNrSoapOut">
    <wsdl:part name="parameters" element="tns:insertNrResponse" />
  </wsdl:message>
  <wsdl:message name="updateNrSoapIn">
    <wsdl:part name="parameters" element="tns:updateNr" />
  </wsdl:message>
  <wsdl:message name="updateNrSoapOut">
    <wsdl:part name="parameters" element="tns:updateNrResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getAll">
      <wsdl:input message="tns:getAllSoapIn" />
      <wsdl:output message="tns:getAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertNr">
      <wsdl:input message="tns:insertNrSoapIn" />
      <wsdl:output message="tns:insertNrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateNr">
      <wsdl:input message="tns:updateNrSoapIn" />
      <wsdl:output message="tns:updateNrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertNr">
      <soap:operation soapAction="http://tempuri.org/insertNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNr">
      <soap:operation soapAction="http://tempuri.org/updateNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">
      <soap12:operation soapAction="http://tempuri.org/getAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertNr">
      <soap12:operation soapAction="http://tempuri.org/insertNr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNr">
      <soap12:operation soapAction="http://tempuri.org/updateNr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:54391/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:54391/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>